<!-- Nav Bar-->

<div class="nav-container">
    <a href="/home"><div class="bcr">
        <h1>BCR Lab</h1>
        <h5>Biomimetic Cognitive Robotics</h5>
    </div></a>

    <div class="topnav">
        <a href="/home"><ul>Home</ul></a>
        <a href="/media"><ul>Media</ul></a>
        <a href="/about"><ul>About</ul></a>
        <a href="/contact"><ul>Contact</ul></a>
    </div>
</div>

