<!DOCTYPE html>
<html>

<head>
    <%- include('partials/head') %>
</head>

<body>

    <%- include('partials/topnav') %>
    

    <div class="main-container">
        <h1>Page Not Found</h1>
    </div>


    <%- include('partials/footer') %>


</body>

</html>