<!DOCTYPE html>
<html>

<head>
    <%- include('partials/head') %>
</head>

<body>

    <%- include('partials/topnav') %>

        <div class="main-container">
            <div class="box">
                <h2>About BCR</h2>
                <p>The Biomimetic and Cognitive Robotics (BCR) lab conducts research into the neural, ecological and
                    behavioral foundations of intelligence. Closely paralleled animal and robot studies are conducted to
                    quantitatively evaluate alternative explanations for the intelligent behavior of biological systems.
                    Because of several technical advantages our studies have historically focused on marine
                    invertebrates. Research in this interdisciplinarv area contributes to our knowledge of biology,
                    psychology, artificial intelligence, fluid mechanics and robotics. The primary aim of this research
                    is understanding biological mechanisms of behavior and secondary aim is the development of new
                    tehnologies inspired by animal abilities.</p>
            </div>


            <div class="box">
                <h2>About Our Team</h2>
                <ul>
                    <li>Parrot Group</li>
                    <li>Crab Group</li>
                    <li>IT Group</li>
                </ul>
            </div>
        </div>

        <%- include('partials/footer') %>

</body>

</html>