<!DOCTYPE html>
<html>

<head>
    <%- include('partials/head') %>
</head>

<body>

    <%- include('partials/topnav') %>

    <div class="main-container">
        <h1>Contact infomation will be post shortly...</h1>
        <h4></h4>
    </div>

    <%- include('partials/footer') %>

</body>

</html>