<!DOCTYPE html>
<html>

<head>
    <%- include('partials/head') %>
</head>

<body>

    <%- include('partials/topnav') %>

    <div class="main-container">

    </div>

    <%- include('partials/footer') %>

</body>

</html>