<!DOCTYPE html>
<html>

<head>
    <%- include('partials/head') %>
        <style>
            body {
                font-family: Arial, Helvetica, sans-serif;
                position: relative;
            }

            

            .container a {
                padding: 20px;
                
            }
        </style>
</head>

<body>

    <div class="container">
        <a href="/signup">
            <div>Sign Up</div>
        </a>
        <a href="/login">
            <div>Login</div>
        </a>
        <a href="/home">
            <div>Visit as Guest</div>
        </a>
    </div>

</body>

</html>