<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/style.css">
	<style>
		body {
			font-family: Arial, Helvetica, sans-serif;
		}
	</style>
	<title>log in</title>

</head>

<body onload="randoms()">
	<section>
		<!-- background color -->
		<div class="color"></div>
		<div class="color"></div>
		<div class="color"></div>
		<div class="box">
			<!-- login -->
			<div class="container">
				<div class="form">

					<!-- check any error message -->
					<% if(JSON.stringify(locals, null, 2).includes('message')) {%>
						<div class="alert"
							style="margin-bottom: 30px; color: red; border: 1px solid red; padding: 10px; background-color: lightgrey;">
							<span class="closebtn" onclick="this.parentElement.style.display='none';"
								style="float: right;">&times;</span>
							<%= message%>
						</div>
						<% } %>

							<h2>Log In</h2>
							<form id="loginform" action="/home" method="post" name="form1">
								<div class="inputBox">
									<input type="text" placeholder="Email" name="email" id="email">

								</div>
								<div class="inputBox">
									<input type="password" placeholder="Password" name="password" id="password">

								</div>
								<div class="inputBox">
									<input type="submit" value="Log in" id="input1">

								</div>
								<p class="forget">Do not have account?<a href="register">
										Register
									</a></p>
							</form>
				</div>
			</div>
		</div>
	</section>

</body>
<script src="https://static.runoob.com/assets/jquery-validation-1.14.0/lib/jquery.js"></script>
<script src="https://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
<script src="https://static.runoob.com/assets/jquery-validation-1.14.0/dist/localization/messages_zh.js"></script>

<script type="text/javascript">
	function randoms() {
		document.getElementById("id").value = "";
		document.getElementById("password").value = "";
	}

	jQuery.validator.addMethod("mobile", function (value, element) {
		var length = value.length;
		var mobile = /^(((13)|1[5-9]{1})+\d{9})$/
		return this.optional(element) || (length == 11 && mobile.test(value));
	}, "Wrong format of phone number");

	jQuery.validator.addMethod("chrnum", function (value, element) {
		var chrnum = /^([a-zA-Z0-9]+)$/;
		return this.optional(element) || (chrnum.test(value));
	}, "Only numbers and letters can be entered(A-Z, a-z, 0-9)");


	$().ready(function () {
		// Validate submit form after keyboard press and release and submit
		$("#loginform").validate({
			rules: {
				id: "required",//user name
				//Password is more than 6 digits
				password: {
					required: true,
					minlength: 6,
					maxlength: 30,
					chrnum: true
				}
			},
			messages: {
				id: "account",
				password: {
					required: "password",
					minlength: "Please enter a 6-30 digit password",
					maxlength: "Please enter a 6-30 digit password"
				}
			}
		});
	});

</script>
<style>
	.error {
		color: red;
	}
</style>

</html>