<!DOCTYPE html>
<html>

<head>
    <%- include('partials/head') %>
        <script src="/media.js" defer></script>
        <link rel="stylesheet" href="/css/media.css">
</head>

<body>


    <%- include('partials/topnav') %>


        <div class="main-container">

            <div class="filter-container">

                <div class="list-group species">
                    <h3 class="collapsible">Species</h3>
                    <div class="box-selector"></div>
                </div>

                <div class="list-group type">
                    <h3 class="collapsible">Format</h3>
                    <div class="box-selector"></div>
                </div>

                <div class="list-group year">
                    <h3 class="collapsible">Year</h3>
                    <div class="box-selector"></div>
                </div>


            </div>


            <div class="content-container">
                <div id="status-box" style="margin: 5px 25px;"></div>
                <div class="result-container"></div>

                <div class="pagination">
                        <button title="first page" id="first">first</button>
                        <button title="previous page" id="previous">&laquo;</button>
                        <button id="current">1</button>
                        <button title="next page" id="next">&raquo;</button>
                        <button title="last page" id="last">last</button>
                </div>

            </div>

            <a href="/media/share">
                <div id="share-btn"><h3>Upload</h3></div>
            </a>

        </div>

        <%- include('partials/footer') %>

</body>

<script>



</script>

</html>