<!DOCTYPE html>
<html>

<head>
    <link rel='stylesheet' href='/css/style.css'/>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
    <title>Register</title>
</head>

<body>
    <section>
        <!-- background color -->
        <div class="color"></div>
        <div class="color"></div>
        <div class="color"></div>
        <div class="box">
            <!-- login box -->
            <div class="container">
                <div class="form">

                    <!-- check any error message -->
					<% if(JSON.stringify(locals, null, 2).includes('message')) {%>
						<div class="alert"
							style="margin-bottom: 30px; color: red; border: 1px solid red; padding: 10px; background-color: lightgrey;">
							<span class="closebtn" onclick="this.parentElement.style.display='none';"
								style="float: right;">&times;</span>
							<%= message%>
						</div>
						<% } %>

                    <h2>Register</h2>
                    <form id = "registerform" action=/register method="post" name = "form1">
                        <div class="inputBox">
                            <input type="text" placeholder="User name" name="name" id="name">
 
                        </div>
                        <div class="inputBox">
                            <input type="text" placeholder="Email" name="email" id="eamil">

                        </div>
                        <div class="inputBox">
                            <input type="password" placeholder="6-10 digit password" name="password" id="password">

                        </div>
                        <div class="inputBox">
                            <input type="password" placeholder="Enter the password again" name="repassword" id="repassword">
 
                        </div>	
                        <div class="inputBox">
                            <input type="text" placeholder="(Optional):Enter your code" name="code" id="code">
 
                        </div>	
                        <div class="inputBox">
							<input type="submit" value="Submit" id="input1">

                        </div>

                        <p class="forget">Have an account?&#8194;<a href="login">
                                Click to Login
                            </a></p>
                    </form>
                </div>
				
            </div>
        </div>
    </section>
</body>
    <script src="https://static.runoob.com/assets/jquery-validation-1.14.0/lib/jquery.js"></script>
    <script src="https://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
    <script src="https://static.runoob.com/assets/jquery-validation-1.14.0/dist/localization/messages_zh.js"></script>

    <script type="text/javascript">

    jQuery.validator.addMethod("mobile", function(value, element) {
        var length = value.length;
        var mobile = /^(((13)|1[5-9]{1})+\d{9})$/
        return this.optional(element) || (length == 11 && mobile.test(value));
    }, "Wrong format of phone number");

    // Validation of letters and numbers
    jQuery.validator.addMethod("chrnum", function(value, element) {
        var chrnum = /^([a-zA-Z0-9]+)$/;
        return this.optional(element) || (chrnum.test(value));
    }, "Only numbers and letters can be entered(A-Z, a-z, 0-9)");

    $().ready(function() {
    // Validate submit form after keyboard press and release and submit
    $("#registerform").validate({
        rules: {
        name: "required",//name
        email: "required",
        //Password more than 6 digits
        password: {
            required: true,
            minlength:6,
            maxlength:30,
            chrnum: true
        },
        //verify password
        repassword: {
            required: true,			
            chrnum: true,
            equalTo: "#password"
        },
        //telephone
        phone: {
            required: true,
            mobile:true
        },
        },
        messages: {
        name: "Please enter your username",
        email: "Please enter your email",
        password: {
            required: "Please enter password",
            minlength: "Please enter a 6-30 digit password",
            maxlength:"Please enter a 6-30 digit password"
        },
        repassword: {
            required: "Please enter password",
            equalTo: "Inconsistent password entered twice"
        },
        phone: 
        {
            required: "Please enter a correct mobile number"
        }
        }
        });
    });
    </script>
    <style>
    .error{
        color:red;
    }
    </style>
</html>




      
