<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/css/share.css">
</head>

<body>

    <%- include('partials/topnav') %>

    <%- include('partials/upload.ejs', { 
        title: 'Resource Upload' ,
        description: 'Upload related resources' ,
        fileAccept: 'image/*, audio/*, video/*', 
        buttonLabel: 'Upload',
    }) %>
   

    <%- include('partials/footer') %>

</body>

</html>