<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/css/share.css">
</head>

<body>

    <%- include('partials/topnav') %>

    <%- include('partials/upload.ejs', { 
        title: 'Database Update' ,
        description: 'Upload Excel file to update Database' ,
        fileAccept: '.xls, .xlsx' , 
        buttonLabel: 'Update' ,
    }) %>


    <%- include('partials/footer') %>

</body>

</html>