button {
    width: 100px;
    height: 30px;

}
video {
    width: 80%; 
    max-width: 800px;
}

img {
    width: 120px;
    height: auto;
}

audio {
    width: 200px;
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-pause-button {
    font-size: 14px;
}

audio::-webkit-media-controls-volume-slider {
    display: none;
}

audio::-webkit-media-controls-panel {
    background-color: #9b8a49;
}


.result-container {
    display: grid;
    grid-template-columns: 50% 50%;
    align-content: baseline;
    justify-content: space-evenly;
}

.content-container {
    border: 1px solid, black;
    float: right;
    width: 75%;

}

.filter-container {
    width: 25%;
    float: left;
    position: sticky;
    top: 0;
    border: 1px solid, black;
}

.single-record {
    border: 1px black solid;
    margin: 20px;
    padding: 30px;
    text-align: center;
    overflow-wrap: break-word;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(213, 197, 197, 0.1);
    position: relative;
    transition: transform 0.3s;
}

.single-record:hover {
    transform: scale(1.05);
}

body {
    position: relative;

}

/* share btn style */

#share-btn {
    border-radius: 50px;
    position: fixed;
    right: 5%;
    bottom: 10%;
    padding: 20px;
    border: 1px solid black;
    text-align: center;
}

#share-btn:hover {

    background-color: lightgrey;
    cursor: help;
}


/* filter collapsible style */

.collapsible {
    cursor: pointer;
    padding: 10px;
    background-color: lightblue;
    margin: 5px 10px;
    border-radius: 8px;
}

.active,
.collapsible:hover {
    background-color: lightgray;
}

.box-selector {
    padding: 0 15px;
    display: block;
    overflow: hidden;
    max-height: 0px;
    transition: max-height 0.2s ease-out;
}

.collapsible:after {
    content: '\002B';
    color: gray;
    font-weight: bold;
    float: right;
    margin-left: 10px;
}

.active:after {
    content: "\2212";
}


/* pagination style */

.pagination {
    margin-block: 80px;
    text-align: center;
}

.pagination a {
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 0.8;
    width: 40px;
}

.pagination a:hover {
    background-color: lightgrey;
}